body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: auto;
    width: 400px;
    height: 600px;
    background-color: lightgray;
}

.header {
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}

.search {
  background-color: darkgray;
  height: 50px;
  box-sizing: border-box;
}

.list {
  height: 500px;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: lightgray;
}

.orderrow {
  background-color: gray;
  margin-bottom: 4px;
  padding: 2px;
}